@use "styles/abstracts/placeholders" as *;
@use "styles/abstracts/variables" as *;

.roundtrip {
    position: relative;

    .inputBoxContainer {
        display: flex;
        gap: 25px;

    }

    .dropListContainer {
        width: 225px;
        height: 175px;
        position: absolute;
        background-color: $white;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        left: 0;
        top: 35px;
        z-index: 1;
        @extend %custom-scroll-bar;

        .option {
            padding: 3px 10px;
            cursor: pointer;

            &:hover {
                background-color: #f5f5f5;
            }
        }

        &.destination {
            left: 265px;
        }
    }
}